{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'preloaderstyle.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="search-wrapper">
        <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#" method="post">
                        <input type="search" name="search" placeholder="Type any keywords...">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <header class="header-area">
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-between">
                    <div class="col-12 col-sm-6">
                        <div class="breaking-news">
                            <div id="breakingNewsTicker" class="ticker">
                                <ul>
                                    {% if user.is_authenticated %}
                                    <li><a href="#">Привет, {{ user.username }}!</a></li>
                                    {% endif %}
                                    <li><a href="#">Добро пожаловать на лучший сайт с рецептами!</a></li>
                                    <li><a href="#">Приятного аппетита!</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="top-social-info text-right">
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                            {% if user.is_authenticated %}
                                <a href="{% url 'logout' %}"><i aria-hidden="true">Log out</i></a>
                            {% else %}
                                <a href="{% url 'login' %}"><i aria-hidden="true">Log In</i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="delicious-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <nav class="classy-navbar justify-content-between" id="deliciousNav">
                        <a class="nav-brand" href=""><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>
                        <div class="classy-menu">
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a href="">Главная</a></li>
                                    <li><a href="equipmentTips/">Правила</a></li>
                                    <li><a href="dictionary/">Кулинарный словарь</a></li>
                                    <li><a href="recomendation/">Советы</a></li>
                                    <li><a href="tableproduct/">Таблица продуктов</a></li>
                                    <li><a href="category/">Категории</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-content">
        <h3>Cooking in progress..</h3>
        <div id="cooking">
          <div class="bubble"></div>
          <div class="bubble"></div>
          <div class="bubble"></div>
          <div class="bubble"></div>
          <div class="bubble"></div>
          <div id="area">
            <div id="sides">
              <div id="pan"></div>
              <div id="handle"></div>
            </div>
            <div id="pancake">
              <div id="pastry"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <div class="single-hero-slide bg-img" style="background-image: url({% static 'img/bg-img/bg1.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                <h2 data-animation="fadeInUp" data-delay="300ms">Хотите добавить новый рецепт??</h2>
                                <p data-animation="fadeInUp" data-delay="700ms">Спасибо, что решили присоединиться к обмену рецептами! Наш сайт как раз и создан для такого обмена опытом и умением.</p>
                                {% if user.is_authenticated %}
                                <a href="createrecipe/" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">Добавить рецепт</a>
                                {% else %}
                                <a href="{% url 'login' %}" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">Добавить рецепт</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-slide bg-img" style="background-image: url({% static 'img/bg-img/bg10.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                <h2 data-animation="fadeInUp" data-delay="300ms">Следите за своей фигурой?</h2>
                                <p data-animation="fadeInUp" data-delay="700ms">У нас на сайте есть таблица продуктов, созданная специально для людей которые следят за своим питанием.</p>
                                <a href="tableproduct/" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">Таблица продуктов</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-slide bg-img" style="background-image: url({% static 'img/bg-img/bg9.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                <h2 data-animation="fadeInUp" data-delay="300ms">Алхимия Запределья</h2>
                                <p data-animation="fadeInUp" data-delay="700ms">Алхимия – это искусство превращения трав и других ингредиентов в полезные зелья, эликсиры, фляги и новые котлы.</p>
                                <a href="category/" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">Открыть раздел</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="top-catagory-area section-padding-80-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="single-top-catagory">
                        <img src="{% static 'img/bg-img/bg2.jpg' %}" alt="">
                        <div class="top-cta-content">
                            <h6>Знаете что такое Абака?</h6>
                            <a href="dictionary/" class="btn delicious-btn">Посмотреть</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="single-top-catagory">
                        <img src="{% static 'img/bg-img/bg3.jpg' %}" alt="">
                        <div class="top-cta-content">
                            <h6>Дашбоард продуктов</h6>
                            <a href="dashboard/" class="btn delicious-btn">Посмотреть</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2>Лучшие рецепты на сайте</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for el in recipe1 %}
                <!-- Single Best Receipe Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">
                            <a href="{{ el.get_absolute_url }}">
                                <img src="{{ el.Img.url }}">
                                <div class="receipe-content">
                                    <h5>{{ el.Name }}</h5>

                                <div class="ratings">
                                {% for j in recipe4 %}
                                {% if el.RecipeID == j.RecipeID_id %}
                                    {% if j.Rating == 1 %}
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if j.Rating == 2 %}
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if j.Rating == 3 %}
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if j.Rating == 4 %}
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if j.Rating == 5 %}
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    {% endif %}
                                {% endif %}
                                {% endfor %}
                                </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        <h2>Всего рецептов на сайте: {{ recipe5 }}</h2>
        </div>
    </section>
    <section class="cta-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/bg8.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="cta-content text-center">
                        <h2>Extra Spicy Receipies</h2>
                        <p>У нас представлена эксклюзивная коллекция самых острых блюд со всех уголков мира. Рискнете попробовать?</p>
                        <a href="category/" class="btn delicious-btn">Открыть категории</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="small-receipe-area section-padding-80-0">
        <div class="container">
            <h2 style="text-align: center; margin-top:-60px; margin-bottom:30px">Недавно добавленные</h2>
            <div class="row">
                 {% for el in recipe2 %}
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-small-receipe-area d-flex">
                        <div class="receipe-thumb">
                            <img src="{{ el.Img.url }}">
                        </div>
                        <div class="receipe-content">
                            <span>{{ el.CreateDate }}</span>
                            <a href="#">
                                <h5>{{ el.Name }}</h5>
                            </a>
                            <div class="ratings">
                                {% for j in recipe4 %}
                                {% if el.RecipeID == j.RecipeID_id %}
                                    {% if j.Rating == 1 %}
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if j.Rating == 2 %}
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if j.Rating == 3 %}
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if j.Rating == 4 %}
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    {% endif %}
                                    {% if j.Rating == 5 %}
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    {% endif %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <div class="follow-us-instagram">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5>Смотрите так же</h5>
                </div>
            </div>
        </div>
        <div class="insta-feeds d-flex flex-wrap">
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta1.jpg' %}" alt="">
                <div class="insta-icon">
                    <a href="#"><i aria-hidden="true">ВЫПЕЧКА</i></a>
                </div>
            </div>
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta2.jpg' %}" alt="">
                <div class="insta-icon">
                    <a href="#"><i aria-hidden="true">САЛАТЫ</i></a>
                </div>
            </div>
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta3.jpg' %}" alt="">
                <div class="insta-icon">
                    <a href="#"><i aria-hidden="true">ХОЛОДНЫЕ СУПЫ</i></a>
                </div>
            </div>
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta4.jpg' %}" alt="">
                <div class="insta-icon">
                    <a href="#"><i aria-hidden="true">БЛЮДА ИЗ ПТИЦЫ</i></a>
                </div>
            </div>
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta5.jpg' %}" alt="">
                <div class="insta-icon">
                    <a href="#"><i aria-hidden="true">ДЕСЕРТЫ</i></a>
                </div>
            </div>
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta6.jpg' %}" alt="">
                <div class="insta-icon">
                    <a href="#"><i aria-hidden="true">ЗАВТРАКИ</i></a>
                </div>
            </div>
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta7.jpg' %}" alt="">
                <div class="insta-icon">
                    <a href="#"><i aria-hidden="true">НАПИТКИ</i></a>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-area">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                    <div class="footer-social-info text-right">
                        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                    <div class="footer-logo">
                        <a href="../"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
                    </div>
                    <p>
                        <script>document.write(new Date().getFullYear());</script>
                        Данный сайт выполнен в качестве курсового проекта студентами МПУ группы 191-361
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'categorystyle/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'categorystyle/js/active.js' %}"></script>
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <script src="{% static 'js/active.js' %}"></script>
</body>
</html>